body {
    box-sizing: border-box;
    /* background-image: url("img/question-mark.jpg"); */
    /* background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; */
    display: block;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    margin: 0;
}

.container {
    display: block;
    justify-content: center;
    text-align: center;
    max-width: 100%;
    /* backdrop-filter: blur(10px); */
}

input {
    display: none;
    justify-content: center;
    align-items: center;
}

button {
    cursor: pointer;

}

#guess-btn {
    display: none;
}
#skip-btn {
    display: none;
}
#next-btn {
    display: none;
}
#feedback {
    display: none;
}