:root {
    --green-emerald: #2D8F4E;
    --teal: #008080;
}
body {
    box-sizing: border-box;
    /* background-image: url("images/question-mark.jpg"); */
    /* background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; */
    display: block;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    margin: 0;
}
.container {
    display: block;
    justify-content: center;
    text-align: center;
    max-width: 100%;
    /* backdrop-filter: blur(10px); */
}
h2 {
    display: block;
    justify-content: center;
    align-items: center;
}
#guessText {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    border-radius: 5px;
    text-align: center;
    padding: 4px;
    font-size: 1.2em;
    font-weight: bold;
}
button {
    cursor: pointer;
}
#guess-btn {
    display: none;
    background-color: var(--teal);
    border: var(--teal) solid 2px;
    color: #fff;
}
#skip-btn {
    display: none;
}
#next-btn {
    display: none;
}
#feedback {
    display: none;
}
#score-box {
    display: flex;
    justify-content: space-evenly;
}
.shake {
    animation: shake 0.3s;
}
@keyframes shake{
    0%{ transform: translateX(0) }
    20%{ transform: translateX(5px) }
    40%{ transform: translateX(-5px) }
    60%{ transform: translateX(5px) }
    80%{ transform: translateX(-5px) }
    100%{ transform: translateX(0px) }
  }